.container {
    width: 100%;
    text-align: center;
}

.home-image {
    margin: 50px 0 50px 0;
    object-fit: cover;
    object-position: top;
    height: 400px;
    width: 70%;
    border-radius: 15px;
    box-shadow: 5px 5px;
    animation-name: image-flow;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

@keyframes image-flow {
    0% {
        object-position: top;
    }
    50% {
        object-position: bottom;
    }
    100% {
        object-position: top;
    }
}

.row {
    padding: 0 100px 0 100px;
}

h3 {
    font-size: 34px;
    font-weight: 100;
    font-style: italic;
}

.contentDiv {
    position: relative;
    margin-top: 80px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 10px;}
    100% {bottom: 0;}
}

.arrow {
    font-size: 50px;
    animation: bouncing 2s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}