body {
    background: rgb(245,255,241);
    background: linear-gradient(169deg, rgba(245,255,241,1) 25%, rgb(204, 225, 183) 100%);
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    white-space: pre-wrap;
}

p.alert {
    color: red;
    font-size: 18px;
}

hr.custom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    margin-top: 150px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 15px;
}