.header {
    height: 70px;
    background-color: #3B5323;
    border-bottom: 1px solid #D4AF37;
    z-index: 99;
}

.menu {
    text-decoration: none;
    color: #D2C9B0;
    font-size: 30px;
    font-weight: 400;
    transition: color 0.5s;
    display: block;
}

.menu:hover {
    color: #D4AF37;
}

.logo {
    text-decoration: none;
    color: #D2C9B0;
}

.logo:hover {
    color: #D4AF37;
}

.header .container {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .header {
        height: 50px;
    }

    .hamburger {
        height: 50px;
        width: 50px;
        z-index: 100;
    }
}